.newMessageContainer {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.newMessageInput {
  border-radius: 10px;
  background-color: #f1f0f0;
  padding: 7px;
  color: black;
  border: 0px;
  flex: 1;
  margin-right: 10px;
}
